services:
  minecraft:
    container_name: forge-server
    mem_limit: 31g
    cpus: 4
    build:
      context: .
      dockerfile: docker/Dockerfile
      args:
        MC_VERSION: "1.20.1"
    restart: unless-stopped

    ports:
      - "${SERVER_PORT:-25565}:25565"

    environment:
      EULA: "${EULA}"
      TYPE: "FORGE"
      VERSION: "${MC_VERSION:-1.20.1}"
      FORGE_INSTALLER: "${FORGE_INSTALLER}"
      INIT_MEMORY: "${MEMORY_MIN}"
      MAX_MEMORY: "${MEMORY_MAX}"
      SERVER_NAME: "${SERVER_NAME}"
      DIFFICULTY: "${DIFFICULTY}"
      MAX_PLAYERS: "${MAX_PLAYERS}"
      ONLINE_MODE: "${ONLINE_MODE}"
      LEVEL_NAME: "${LEVEL_NAME}"
      VIEW_DISTANCE: "${VIEW_DISTANCE}"
      ALLOW_NETHER: "${ALLOW_NETHER}"
      ALLOW_FLIGHT: "${ALLOW_FLIGHT}"
      PVP: "${PVP}"
      ENABLE_COMMAND_BLOCK: "${ENABLE_COMMAND_BLOCK}"
      # Автовыдача опки при старте контейнера
      OPS: "${OPS}"

    volumes:
      - ./data/world:/data/world
      - ./config:/data/config
      - ./mods/server:/data/mods
      - ./logs:/data/logs
      - ./docker/artifacts:/data/artifacts

  bot:
    container_name: forge-bot
    build:
      context: .
      dockerfile: bot/Dockerfile
    restart: unless-stopped
    depends_on:
      - minecraft
    environment:
      BOT_ENV_FILE: /app/.env.bot
      PYTHONUNBUFFERED: "1"
    volumes:
      - ./:/app
      - /var/run/docker.sock:/var/run/docker.sock
