[Unit]
Description=New Sborka Hard (bot only)
After=network-online.target docker.service
Wants=network-online.target
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/root/new_sborka_hard
Environment=ENV_FILE=env/production.env
ExecStart=/usr/bin/make up-bot
ExecStop=/usr/bin/make stop-bot

[Install]
WantedBy=multi-user.target
